[submodule "fasthit/encoders/esm"]
	path = fasthit/encoders/esm
	url = https://github.com/facebookresearch/esm.git
[submodule "fasthit/encoders/tape"]
	path = fasthit/encoders/tape
	url = https://github.com/songlab-cal/tape.git
